<html>
    <head>
        <title>DJango girl blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django girls blog</a></<h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Minasa san, Daijobu? Its in japanese. You better start learning japanese also</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is the second post. JUst trying to learn django</p>
        </div>
    </body>
</html>
